<template name="login">
  <div id="login" class="ui segment">
    {{#if error}}
      <div class="ui small error message">
        {{error}}
      </div>
    {{/if}}

    <div class="ui login-password form" style="display:none">
      <div class="field">
        <label> Username </label>
        <input type="text" id='username' placeholder="Username">
      </div>
      <div class="field">
        <label> Password </label>
        <input type="password" id='password' placeholder="Password">
      </div>
      <div class="field">
        <button id="login-password" class="fluid primary push button"> Login </button>
      </div>
    </div>

    {{#if enabled.github}}
    <br>
    <button id="login-github" class="fluid github push button"> Login with Github </button>
    {{/if}}

    {{#if enabled.facebook}}
    <br>
    <button id="login-facebook" class="fluid facebook push button"> Login with Facebook</button>
    {{/if}}

    {{#if enabled.certauth}}
    <br>
    <button id="login-certauth" class="fluid certauth push button"> Login with MIT Certificate</button>
    {{/if}}

    <div style="text-align: center; margin-top: 10px">
      <a id="showPasswordLogin" href="#">login with non-MIT username/password</a>
    </div>
  </div>
</template>

<template name="passwordlogin">
</template>
